{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Senha {% endblock %}


< {% block authentic %} <div class="row">
    <div class="col-md-4 offset-md-4 container">

        <div class="card  auth-card tela-reset">
            <div class="card-body">
                <h4 class="card-title text-center">Resetar Senha</h4>

                <form method="post" class="form">
                    {% csrf_token %}


                    {{form|crispy}}

                    {% if field.errors %}
                    <small>{{ field.errors|striptags }}</small>
                    {% endif %}

                    <div class="button-reset-senha">
                        <a href="{%url 'login' %}" class="btn btn-danger btn-block">Cancel</a>
                        <input type="submit" value="Enviar" class="btn btn-primary btn-block">
                       
                   </div>

                </form>


            </div>
        </div>
    </div>
    </div>
    {% endblock %}