{% extends 'base.html' %}

{% block title %} Confirmar  {% endblock %}

{% block authentic %}
<div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Confirmar redefinição de senha</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  
	  <div>
	    <button type="submit" class="btn btn-primary">Alterar Senha</button>
	  </div>
	</form>
</div>


{% endblock %}