{% extends 'base.html' %}

{% block title %} Redefinição de Senha {% endblock %}

{% block authentic %}
<div class="center card container reset-done">
	<h2>Redefinição de senha enviada com sucesso
	</h2>

	<ul>
		<li>Enviamos um e-mail com instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou.</li>
		<li>Verifique sua pasta de spam.</li>
		<li>Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou.</li>

	</ul>
	<a href="/"><button  class="btn btn-secondary btn-block">Home</button></a>
</div>


{% endblock %}