{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Novo Pedido {% endblock %}

{% block content %}

<div class="container form-add">

    <h1>Novo Pedido</h1>

    <form method="POST" class="col-12">
        {% csrf_token %}

        <!--  basics data -->

        <!-- <button type="button" class="btn-toggle button_div_budgets" data-element="#minhaDiv">
            <h4>Dados Básicos</h4>
        </button>

        <div id="minhaDiv" class="my_div">
            {{form|crispy }}
        </div> -->

        <!-- Services -->
        <button type="button" class="btn-toggle button_div_budgets" data-element=".minhaDiv2">
            <h4>Serviços</h4>
        </button>

        <div id="" class="my_div minhaDiv2">

            <div class="minhaDiv2_item">
                <div>
                    {{form_service|crispy }}
                </div>
                <div id="minhaDiv2_trash">
                    <a href="" class="">
                        <span>
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>


        <div id="new_service">
            

                    <i class="fa-solid fa-file-circle-plus " id="new_service_button" style="color: #065df4;"></i>
          
        </div>



        <!-- materials -->

        <!-- <button type="button" class="btn-toggle button_div_budgets" data-element="#minhaDiv3">
            <h4>Materiais</h4>
        </button>

        <div id="minhaDiv3" class="my_div">
            {{form_materials|crispy }}
        </div> -->


        <!-- Payments -->

        <!-- <button type="button" class="btn-toggle button_div_budgets" data-element="#minhaDiv4">
            <h4>Formas de Pagamento</h4>
        </button>

        <div id="minhaDiv4" class="my_div">
            {{form_payment|crispy }}
        </div>
       -->



        <div class="container div-btn div-btn-budgets">
            <a href="/budgets/">
                <input type="button" class="btn btn-danger btn-form " value="Cancelar">
            </a>
            <input type="submit" class="btn btn-success btn-form" id="" value="Salvar">
        </div>
    </form>
</div>
{% endblock %}