{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Novo Pedido {% endblock %}

{% block content %}

<div class="container form-add add-budgets">

    <h1>Novo Pedido</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id="orcament-form" method="POST" class="col-12">
        {% csrf_token %}

        <!--  basics data -->

        <button type="button" class="btn-toggle-budgets" data-element="#minhaDiv">
            <h4>Dados Básicos</h4>
        </button>

        <div id="minhaDiv" class="my_div">
            <div class="basic_data">
                {{ form.number_budgets|as_crispy_field }}
                {{ form.situation|as_crispy_field }}
            </div>

            {{ form.client|as_crispy_field }}
            {{ form.reference|as_crispy_field }}

            {{ form.validity|as_crispy_field }}
            {{ form.term|as_crispy_field }}

            {{ form.obs|as_crispy_field }}

        </div>

        <!-- Services -->

        <button type="button" class="btn-toggle-budgets" data-element="#minhaDiv2">
            <h4>Serviços</h4>
        </button>

        <!-- Div de serviços -->

        <div id="minhaDiv2" class="my_div minhaDiv2">


            <div id="servicos-container">
                {% for service_form in service_forms %}
                <div class="service-item">
                    {{ service_form|crispy }}

                    <div class="service-item-trash">
                        <a href="" class="service-delete-btn">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </div>

                {% endfor %}

            </div>



            <!-- Botão de novo serviço  -->

            <div id="new_service">

                <i class="fa-solid fa-file-circle-plus " id="new_service_button" style="color: #065df4;"></i>

            </div>


        </div>




        <input type="hidden" id="total_forms" name="service_form-TOTAL_FORMS" value="1">






        <!-- materials -->

        <button type="button" class="btn-toggle-budgets" data-element="#minhaDiv3">
            <h4>Materiais</h4>
        </button>

        <!-- Div de materiais -->
        <div id="minhaDiv3" class="my_div">


            <div id="materials-container">

                {% for material_form in material_forms %}
                <div class="material-item">

                    {{material_form|crispy }}

                    <div class="material-item-trash">
                        <a href="" class="material-delete-btn">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </div>
                {% endfor %}



            </div>

            <!-- Botão de novo serviço  -->
            <div id="new_material">

                <i class="fa-solid fa-file-circle-plus " id="new_material_button" style="color: #065df4;"></i>

            </div>


        </div>
        <input type="hidden" id="total_forms_materials" name="materials_form-TOTAL_FORMS" value="1">




        <!-- Payments -->

        <button type="button" class="btn-toggle-budgets" data-element="#minhaDiv4">
            <h4>Formas de Pagamento</h4>
        </button>

        <div id="minhaDiv4" class="my_div">
            {{payment_forms|crispy }}
        </div>



        <div class="container div-btn div-btn-budgets">
            <a href="/budgets/">
                <input type="button" class="btn btn-danger btn-form " value="Cancelar">
            </a>
            <input type="submit" class="btn btn-success btn-form" id="" value="Salvar">
        </div>
    </form>
</div>


{% endblock %}