{% extends 'base.html' %}

{% block title %} Pedidos {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">


    <h1>Pedidos</h1>

    <div class="flex-container dashboard-client">

        <div class="col-4 dashboard-client-box" id="dashboard-client-lastdays">
            <h4>Orçamentos do <br> últimos 30 dias</h4>
            <span>30</span>
        </div>

        <div class="col-4 dashboard-client-box" id="dashboard-client-done">
            <h4>Serviços Finalizados</h4>
            <span>40</span>
        </div>

        <div class="col-4 dashboard-client-box" id="dashboard-client-doing">
            <h4>Total de Orçamentos</h4>
            <span></span>
        </div>

    </div>



    <div class="flex-container filter-div">

        <div id="add-link">
            <a href="/budgets/newBudget/">
                <div class="col-2 add-div">
                    <i class="fas fa-plus"></i> Adicionar Orçamento
                </div>
            </a>
        </div>

        <div id="div-filter-span">
            <span>Filtrar por:</span>

            <select name="filter-budgets" id="filter-budgets" class="form-control">
                <option value="">Escolha uma opção...</option>
                <option value="1">Pendente</option>
                <option value="2">Aprovado</option>
                <option value="3">Cancelado</option>
                <option value="4">Em andamento</option>
                <option value="5">Concluido</option>
            </select>
        </div>
    </div>

    <div class=" flex-container search-div">
        <form method="GET" id="search-form">

            <input class="form-control" type="text" id="search" name="search"
                placeholder="Digite o nome do cliente para buscar..." value="{{ request.GET.search }}">

            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>


    <div class="div-base-table">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <table class="client-list">

            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Situação</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody class="">
                {% for budget in budgets %}


                <tr>
                    <td>
                        <span class="">
                            <a href="">{{budget.number_budgets}}

                            </a>
                        </span>
                    </td>

                    <td>
                        <span class="">
                            <a href="">
                                {% if budget.client%}
                                {{budget.client}}
                                {% endif%}
                            </a>
                        </span>
                    </td>

                    <td>
                        <span class="">
                            <a href="">
                                
                                {{budget.condition_display}}
                                
                            </a>
                        </span>
                    </td>

                    <td class="buttons-actions">


                        <a href="">
                            <span>
                                <i class="fas fa-edit "></i>
                            </span>
                        </a>

                        <a href="" class="delete-btn">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>

                    </td>
                </tr>

                {%endfor %}
            </tbody>



        </table>
    </div>

    {% if clientsCount > 3 %}


    <div class="pagination">
        <span class="step-links">
            {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if clients.paginator.num_pages %}
            <span class="current">
                {{ clients.number }} de {{ clients.paginator.num_pages }}
            </span>
            {% endif %}

            {% if clients.has_next %}
            <a href="?page={{ clients.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <div class="pagination"></div>
    {% endif %}
</div>







{% endblock %}