{% extends 'base.html' %}
{% load custom_filters %}





{% block title %} Clientes {% endblock %}

{% block content %}

<!-- Div para impressao -->
<div class="div-view-budget">

    <!-- Nome da companhia -->
    <div id="name-company">
        {% if perfilCompany.name%}

        {{perfilCompany.name}}

        {%else%}

        {{ perfilCompany }}

        {%endif%}


    </div>

    <!-- Numero do orçamento e referencia -->
    <div id="number-budget">
        <h4>Orçamento

            {{ budget.number_budgets}}
        </h4>

        {% if budget.reference %}
        <span>
            {{ budget.reference }}
        </span>
        {% endif %}
    </div>

    <!-- Informações do cliente -->
    <div class="info-client">

        <!-- div de dados do cliente -->
        <div class="info-client-item">
            <div class="view-client-name">
                {% if budget.client%}
                <h5>Cliente: </h5>
                <span>{{budget.client.name}}</span>

                {% else %}
                <h5>Cliente:</h5>
                <span>Não há cliente associado a este orçamento</span>
                {% endif %}
            </div>


            <!-- Endereço do cliente -->

            {% if addressClient%}
            <div class="view-client-address">

                <!-- div rua e bairro -->
                <div>

                    <span>{{addressClient.street}}</span>


                </div>

                <!-- div bairro cidade estado -->

                <div>

                    <span>{{addressClient.bairro}}</span>

                    {% if addressClient.bairro and addressClient.city %}
                    <span>,</span>
                    {% endif %}

                    <span>{{addressClient.city}}</span>


                    {% if addressClient.city and addressClient.state %}
                    <span>/</span>

                    {% elif addressClient.bairro and addressClient.state%}
                    <span> - </span>
                    {% endif %}

                    <span>{{addressClient.state}}</span>


                </div>

                <!-- Cep do cliente -->
                {%if addressClient.cep %}
                <div>
                    CEP <span>{{addressClient.cep}}</span>
                </div>
                {% endif %}
            </div>

            {%endif%}


        </div>

        <!-- Div do email e telefone -->

        <div class="info-client-item">

            <!-- Tipo de cliente -->

            {%if budget.client.client_type%}
            <div>
                <span id="info-client-item-tipo">Tipo de cliente: </span>
                <span>{{budget.client.client_type}}</span>
            </div>
            {%endif%}

            <!--  Email -->

            {% if contactsClient.email %}
            <div>
                <span class="lowercase-text">
                    <i class="fa-solid fa-envelope"></i>
                    {{ contactsClient.email }}
                </span>
            </div>
            {%endif%}

            <!-- Telefones -->
            <div>

                {% if contactsClient.telefone1 %}
                <div>
                    <span>
                        <i class="fa-solid fa-phone"></i>
                        {{ contactsClient.telefone1}}
                        <br>
                    </span>
                </div>
                {%endif%}





                {% if contactsClient.telefone2 %}
                <div>
                    <span>
                        <i class="fa-solid fa-phone"></i>
                        {{ contactsClient.telefone2}}
                    </span>
                </div>
                {%endif%}

            </div>

        </div>


    </div>

    <!-- Informações Basicas -->

    <div class="info-basics">
        <div class="info-basics-head">

            <h5>Informações Básicas</h5>
        </div>

        <div class="info-basics-content">
            {% if budget.validity%}
            <div>
                <h6>Validade do orçamento</h6>
                <span>{{ budget.validity|date:"d/m/Y" }}</span>
            </div>
            {%endif%}

            {% if budget.term %}
            <div>
                <h6>Prazo de execução</h6>
                <span>{{ budget.term }}</span>
            </div>
            {%endif%}
        </div>
    </div>

    <!-- Serviços -->
    <div class="descript-services">
        <div class="descript-service-head">
            <h5>Serviços</h5>
        </div>

        <!-- Cabeçalho da tabela de serviços -->
        <div class="descript-service-tableHead">
            <div id="descript-service-tableHead-1">
                <h6>Descrição</h6>

            </div>
            <div id="descript-service-tableHead-2">
                <h6>Preço</h6>
            </div>
        </div>

        <!-- Lista de serviços -->

        {%for service in services%}
        <div class="descript-service-content">

            <div class="descript-service-content-1">
                <h6> {{ service.descript}}</h6>
                <span>{{ service.details}}</span>
            </div>
            <div class="descript-service-content-2">
                <span>{{ service.total }}</span>
            </div>


        </div>
        {%endfor%}
    </div>

    <!-- Materiais -->

    <div class="descript-materials">
        <div class="descript-materials-head">
            <h5>Materiais</h5>

        </div>
        <div class="descript-material-tableHead">
            <div id="descript-material-tableHead-1">
                <h6>Descrição</h6>

            </div>
            <div id="descript-material-tableHead-2">
                <h6>Preço unitário</h6>
            </div>
            <div id="descript-material-tableHead-3">
                <h6>Quantidade</h6>
            </div>
            <div id="descript-material-tableHead-4">
                <h6>Total</h6>
            </div>
        </div>

        <!-- Lista de materiais -->

        {%for material in materials%}
        <div class="descript-material-content">

            <div class="descript-material-content-1">
                <h6> {{ material.descript}}</h6>
                <span>{{ material.details}}</span>
            </div>
            <div class="descript-material-content-2">
                <span>{{ material.price}}</span>
            </div>
            <div class="descript-material-content-3">
                <span>{{ material.amount|replace_decimal_amount }}</span>
            </div>


            <div class="descript-material-content-4">
                <span>{{ material.total }}</span>
            </div>


        </div>
        {%endfor%}


    </div>

    <!-- Totais -->
    <div class="totals">
        <div class="totals-container">
            {% if totals %}
            {% for total in totals %}
            <div id="totals-container-services">

                <span>Serviços</span>
                <span>{{ total.total_services }}</span>
            </div>
            <div id="totals-container-materials">
                <span>Materiais</span>
                <span>{{ total.total_materials}} </span>
            </div>
            <div id="totals-container-totals">
                <span>Total</span>
                <span>{{ total.total_final }}</span>

            </div>
            {% endfor %}
            {% else %}
            <div id="totals-container-services">

                <span>Serviços</span>
                <span></span>
            </div>
            <div id="totals-container-materials">
                <span>Materiais</span>
                <span> </span>
            </div>
            <div id="totals-container-totals">
                <span>Total</span>
                <span></span>

            </div>
            {%endif%}

        </div>

    </div>
    

    <!-- Pagamento -->

    <div class="div-pay">
        <div id="pay-head">

            <h5>Pagamentos</h5>


        </div>
        
        <div id="pay-content">
            <div id="pay-methods">
                <h6>Meios de pagamento</h6>

            </div>
            <div id="pay-contition">
                <h6>Condições de pagamento</h6>
            </div>

        </div>

    </div>



</div>
{% endblock %}