{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm navbar-light ">

            <!-- <img src="../static/img/logo3.png" alt=""> -->
            <a class="navbar-brand" href="/">Novo Padrão</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse list-dropdown" id="conteudoNavbarSuportado">

                <ul class="navbar-nav mr-auto">


                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orçamentos
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/budgets/newBudget/">Novo Orçamento</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/budgets/">Orçamentos</a>


                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newclient/">Novo Cliente</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/clients/">Clientes</a>


                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Perfil
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/accounts/perfil/user">Usuário</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/accounts/perfil/company">Empresa</a>


                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Financeiro</a>
                    </li>



                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Sair</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>


        {% if user.is_authenticated %}
        <div class="div-base">

            {% block content %}



            {% endblock %}

        </div>

        {% else %}

        <div class="div-base-2 container">
            {% if request.path == '/'%}

            <div class="div-base-2-item">
                <div>
                    <a href="/accounts/login">
                        <button type="button" class="btn btn-primary">Entrar</button>
                </div></a>
                <a href="/accounts/register">
                    <div>
                        <button type="button" class="btn btn-secondary">Registro</button>
                    </div>
                </a>
            </div>

            {% else %}

            {% block authentic %}



            {% endblock %}

            {% endif %}
        </div>

        {% endif %}






        <footer class="fixar-rodape">
            <p>&copy New Standard Development</p>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>