{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Perfil da Empresa {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">

    <h1>Perfil do negócio:</h1>
    {% if company %}
    <div class="container div-view">
        <div class=" div-view-item">

            <div class="logo-perfil_company">

                <h6>Logotipo: </h6>

                {% if company.logo %}
                <img src="{{ company.logo.url }}" alt="img">

                {%else%}
                <span> Coloque sua logo Aqui</span><br>
                <a href="/accounts/perfil/company/edit">
                    <button class="btn btn-primary">Inserir Logotipo</button>
                </a>

                {% endif %}

            </div>

        </div>

        <div class=" div-view-item">
            <div>
                <h6>Nome da Empresa: </h6>
                <span>{{ company.name }} </span>
            </div>

        </div>


        <div class=" div-view-item">
            <div>
                <h6>CNPJ: </h6>
                <span>
                    {%if company.cnpj %}{{ company.cnpj }}{%endif%}
                </span>
            </div>


        </div>


        <div class=" div-view-item">
            <div>
                <h6>Razão Social: </h6>
                <span>
                    {%if company.razaoSocial %}{{ company.razaoSocial }}{%endif%}
                </span>
            </div>


        </div>

        <div class=" div-view-item">
            <div>
                <h6>Telefones: </h6>
                <span>
                    {%if company.phone1 %}

                    {{ company.phone1 }}
                    {%endif%}
                    /
                    {%if company.phone2 %}

                    {{ company.phone2 }}
                    {%endif%}

                </span>
            </div>


        </div>


        <!-- <div class=" div-view-item">
            <div>
                <h6>Endereços: </h6>
                <span>

                </span>
            </div>


        </div> -->


    </div>



    <div class=" container perfilCompany">

        <div>
            <a href="/accounts/perfil/">

                <input class="btn btn-secondary" type="button" value="Voltar">
            </a>
        </div>



        <div>
            <a href="/accounts/perfil/company/edit">
                <input class="btn btn-success" type="button" value="Editar">
            </a>
        </div>

    </div>

</div>

{% else %}
<div class="card card-company-none">
    <div>
        <h1>Não há empresa associada a este usuário </h1>
    </div>

    <div class=" container perfilCompany">

        <div>
            <a href="/accounts/perfil/">

                <input class="btn btn-secondary" type="button" value="Voltar">
            </a>
        </div>

        <div>
            <a href="/accounts/perfil/company/add">

                <input class="btn btn-primary" type="button" value="Criar">

            </a>
        </div>



    </div>
</div>

{% endif%}
{% endblock %}