{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Cliente {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Visualisando Cliente: <br> <span id="client-name"> {{ client.nome }} {{ client.sobrenome }} </span>
</h1>
    
    

    <form method="GET" id="form-client">
        {% csrf_token %}
        {{ form|crispy }}

    </form>

    <div class=" container dashboard-box-client">

        <div>
            <a href="/clients/" class="myButton-client" id="back-client">

                <i class=" fas fas fa-undo-alt "></i>

                Voltar
            </a>
        </div>

        <div>
            <a href="/clients/edit/{{client.id}}" class="myButton-client" id="edit-client">
                <i class=" fas fas fa-user-edit "></i>

                Editar</a>
        </div>

        <div>
            <a href="#" class="myButton-client" id="delete-client">
                <i class=" fas fa-trash-alt "></i>

                Deletar</a>
        </div>
    </div>

</div>



{% endblock %}