{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">


    <h1>Clientes</h1>

    <div class="flex-container dashboard-client">

        <div class="col-4 dashboard-client-box" id="dashboard-client-lastdays">
            <h4>Orçamentos dos <br> Últimos 30 dias</h4>
            <span>30</span>
        </div>

        <div class="col-4 dashboard-client-box" id="dashboard-client-done">
            <h4>Serviços finalizados</h4>
            <span>40</span>
        </div>

        <div class="col-4 dashboard-client-box" id="dashboard-client-doing">
            <h4>Clientes</h4>
            <span>{{ clientsCount }}</span>
        </div>

    </div>



    <div class="flex-container filter-div">

        <div id="add-link">
            <a href="newclient/">
                <div class="col-2 add-div">
                    <i class="fas fa-plus"></i> Adicionar Cliente
                </div>
            </a>
        </div>

        <div id="div-filter-span">
            <span>Filtrar por:</span>

            <select name="filter" id="filter" class="form-control">
                <option value="">Escolha uma opção...</option>
                <option value="1">Pessoa Fisica</option>
                <option value="2">Pessoa Jurídica</option>
            </select>
        </div>
    </div>

    <div class=" flex-container search-div">
        <form method="GET" id="search-form">

            <input class="form-control" type="text" id="search" name="search"
                placeholder="Digite o nome do cliente para buscar..." value="{{ request.GET.search }}">

            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>


    <div class="div-base-table">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <table class="client-list">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody class="client-item">
                {% for client in clients %}


                <tr>
                    <td>
                        <span class="client-name">
                            <a href="client/{{client.id}}">{{client.id}}

                            </a>
                        </span>
                    </td>

                    <td>
                        <span class="client-name">
                            <a href="client/{{client.id}}">{{client.name}}

                            </a>
                        </span>
                    </td>


                    <td class="buttons-actions">


                        <a href="edit/{{client.id}}">
                            <span>
                                <i class="fas fa-edit "></i>
                            </span>
                        </a>

                        <a href="delete/{{client.id}}" class="delete-btn">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>

                    </td>
                </tr>

                {%endfor %}
            </tbody>



        </table>
    </div>
    
    {% if clientsCount > 3 %}

    
    <div class="pagination">
        <span class="step-links">
            {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if clients.paginator.num_pages %}
            <span class="current">
                {{ clients.number }} de {{ clients.paginator.num_pages }}
            </span>
            {% endif %}

            {% if clients.has_next %}
            <a href="?page={{ clients.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <div class="pagination"></div>
    {% endif %}
</div>







{% endblock %}