.button_div_budgets{
    width: 100%;
    color: rgb(7, 7, 7);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
    border: 0px solid rgba(0, 0, 0, 0.1); 
}

.my_div{
    /* display: none; */
    
    /* border: 10px solid rgba(0, 0, 0, 0.1);  */
}