#orcament-form{
    padding: 30px;
    /* border: 5px solid black; */
}

.btn-toggle-budgets{
    width: 100%;
    color: rgb(7, 7, 7);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    

    
    border: 0px solid rgba(0, 0, 0, 0.1); 
}

.my_div{
    display: none;

    /* border: 10px solid black; */
}


.minhaDiv2_form{
    padding: 0px 50px 0px 50px;
        border: 1px solid rgba(0, 0, 0, 0.5); 

}


.basic_data{
    display: flex;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0.5);  */
   
}

.basic_data input{
    width: 90%;
        /* border: 10px solid rgba(0, 0, 0);  */

}

.service-item-trash{
    margin-top: 30px;
    margin-right: 10px;
    height: 30px;
    /* border: 2px solid rgba(0, 0, 0);  */
    margin-bottom: 10px;
}

.service-item-trash span i{
    float: right;
    font-size: 25px;
    height: 100%;
    margin-right: 10px;
    
    /* border: 2px solid rgba(0, 0, 0);  */

}


.div-btn-budgets{
    padding-top: 50px;
        /* border: 10px solid rgba(0, 0, 0, 0.1);  */

}

#new_service{
    margin-top: 30px;
    margin-bottom: 30px;
            /* border: 10px solid rgba(0, 0, 0);  */


}

#new_service_button{
    float: right;
    font-size: 40px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 100%;
   
    
}

.service-item{
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px dashed rgba(0, 0, 0); 

}


/* Material items */

.material-item{
    border-bottom: 2px dashed rgba(0, 0, 0); 

}



.material-item-trash{
    margin-top: 30px;
    margin-right: 10px;
    height: 30px;
    /* border: 2px solid rgba(0, 0, 0);  */
    margin-bottom: 10px;
}

.material-item-trash span i{
    float: right;
    font-size: 25px;
    height: 100%;
    margin-right: 10px;
    
    /* border: 2px solid rgba(0, 0, 0);  */

}


#new_material{
    margin-top: 30px;
    margin-bottom: 30px;
            /* border: 10px solid rgba(0, 0, 0);  */


}

#new_material_button{
    float: right;
    font-size: 40px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 100%;
   
    
}

.form-control-input{
    width: 30%;
                /* border: 10px solid rgba(0, 0, 0);  */

}