/* dashboard-client-clients */

.dashboard {
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    height: 100%;
    /* border: 5px solid #000000; */
  
  }
  
  .dashboard-box {
  
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    padding-top: 15px;
    

      /* border: 10px solid rgb(112, 4, 4); */

  
  
  }
  
  .dashboard-box a {
    width: 30%;
    height: 100%;
    font-size: 100%;
    height: 100px;
  
    /* border: 10px solid rgb(181, 194, 3); */
  
  }
  
  .myButton {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    /* display:inline-block; */
    cursor: pointer;
    color: #02005e;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    text-align: center;
  
    /* border: 10px solid rgb(181, 194, 3); */
  
  }
  
  .myButton:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    color: #ffe600;
    font-weight: bold;
  }
  
  .myButton:active {
    position: relative;
    
    top: 1px;
  }
  
  .myButton i {
    color: #02005e;
    text-shadow:0px -1px #ffffff;
    
    font-size: 40px;
  }
  