/* Navbar */
.navbar {
  background-color: #1a1169;
  width: 100%;
  color: #d0ff00;

  align-items: center;
  /* border: 5px solid #fd0000; */

}



.navbar img {
  width: 20%;
  margin-right: 5px;

  /* border: 5px solid #fd0000; */

}


.navbar-toggler {

  background-color: #ffe600;
  color: #ffe600;
  margin-right: 10px;
  /* border: 2px solid #000000; */

}

.navbar a {
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #ffe600;
}


.navbar ul li a {

  font-size: 100%;

  /* border: 2px solid #000000; */

}


.navbar ul li a:hover {

  color: #ffffff;

}




button {
  color: #d0ff00;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-dropdown {
  width: 100%;
  justify-content: center;

  /* border: 2px solid #ff0000; */

}

.dropdown-menu {
  background-color: #1a1169;

  /* border: 2px solid #000000; */

}

.dropdown-menu a:hover {
  border: 2px solid #000000;
  background-color: #000000;
}


.list-dropdown ul {
  justify-content: space-around;

  width: 80%;
  /* border: 2px solid #bbff00; */

}