.button-reset-senha{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* border: 5px solid black; */
}
.tela-reset{
    margin-top: 50px;
    padding-top: 20px;
}

.reset-done{
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    /* border: 5px solid black; */


}

.reset-done ul{
    margin-top: 30px;
    text-align: left;
    margin-bottom: 40px;
    /* border: 5px solid black; */


}
.reset-done ul li{
    margin-top: 20px;
    text-align: left;
    /* border: 5px solid black; */


}