.div-perfil {

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;

    /* border: 5px solid black; */


}

.div-perfil .dashboard-box {

    height: 50%;

}



