.dashboard-box-client{
    display: flex;
    justify-content: center;
    /* border: 5px solid black; */
}

.perfilCompany{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
            /* border: 5px solid black; */

}
.perfilCompany a{
        text-decoration: none;
        /* border: 5px solid black; */

} 

.card-company-none{
    
        padding-top: 100px;
        padding-bottom: 50px;

        /* border: 5px solid black; */

    
}

.card-company-none div{
    width: 100%;
    text-align: center;
    
    
        /* border: 5px solid black; */

    
}

.logo-perfil_company{
                /* border: 5px solid black; */

}

.logo-perfil_company button{

        margin-left: 10px;
                /* border: 5px solid black; */

}
.logo-perfil_company img{
        width: 30%;
        /* border: 5px solid rgb(243, 3, 3); */

}

.div-logo-company{
        /* border: 5px solid rgb(243, 3, 3); */

        
}

.div-view-item div h6{
        padding-bottom: 10px;
        /* border: 5px solid rgb(243, 3, 3); */

        
}

/* Editar Company */

