@import url(../css/stylebase.css);
@import url(../css/styleNavbar.css);
@import url(../css/styleDashboardHome.css);
@import url(../css/styleDashboardClients.css);

@import url(../css/styleViewClient.css);

@import url(../css/styleNewClient.css);


/* Footer */

footer.fixar-rodape {
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 30px;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #1a1169;
  color: #d0ff00;
  font-size: 15px;
  margin-top: 10px;

}


/* Responsivo*/

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  
  

  .dashboard-client h4 {
    font-size: 10px
  }

  .filter-div {

    display: flex;
    flex-direction: column;

    /* border: 10px solid black; */
  }

  #add-link {
    width: 100%;
    align-items: center;
  }

  #div-filter-span {
    width: 100%;
    margin-top: 20px;

    /* border: 10px solid black; */

  }

  #search-form input {
    font-size: small;
    text-align: left;

    /* border: 10px solid rgb(189, 22, 189); */
  }

  .client-list span {

    font-size: small;
    /* border: 10px solid rgb(189, 22, 189); */

  }

  .dashboard-client-box {

    width: 100px;
  }

}