/* Conteudo */
.client-view {

    /* border: 10px solid rgb(167, 0, 0); */
}

#client-name {
    font-weight: lighter;
    /* border: 10px solid rgb(167, 0, 0); */

}

/* Botões */


.dashboard-box-client {

    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;


    /* border: 10px solid rgb(112, 4, 4); */


}

.dashboard-box-client a {
    width: 50px;
    font-size: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* border: 10px solid rgb(0, 0, 0); */

}

.dashboard-box-client i {

    padding-right: 10px;
    /* border: 10px solid rgb(0, 0, 0); */


}

.myButton-client {

    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;    
    cursor: pointer;
    color: #ffffff;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    width: 100%;

    /* border: 10px solid rgb(181, 194, 3); */

}

.myButton-client:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 1px #000000;

}

.myButton-client:active {
    position: relative;
    top: 1px;
}

.myButton-client i {
    color: rgb(255, 255, 255);
    text-shadow: black;
    font-size: 100%;


    /* border: 10px solid rgb(181, 194, 3); */


}




#back-client {
    background: linear-gradient(to bottom, #3aff6b 5%, #00f014 100%);

}

#delete-client {

    background: linear-gradient(to bottom, #fa3f3f 5%, #ff0000 100%);

    /* border: 10px solid rgb(181, 194, 3); */

}




/*Fomulario  */
.client-view form {
    margin-bottom: 0px;
    padding: 20px;

    /* border: 2px solid rgb(255, 238, 0); */

}

.container-item1 {

    display: flex;
    justify-content: space-between;


    /* border: 10px solid rgb(2, 1, 1); */

}



#div-name {
    width: 60%;

    /* border: 10px solid rgb(170, 0, 105); */

}

#div-type {
    width: 30%;
    /* border: 10px solid rgb(170, 0, 105); */

}

.client-view input[type=text],
select {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-client {
    margin-top: 20px;
    margin-bottom: 50px;
    /* border: 10px solid rgb(170, 0, 105); */

}












@media screen and (max-width: 600px) {
    .client-view form {
        font-size: 80%;

        /* border: 10px solid rgb(7, 7, 7); */

    }

    #fname {
        font-size: 100%;
        /* border: 10px solid rgb(238, 9, 9); */


    }

    .dashboard-box-client {
        padding: 0;
        margin-top: 5px;
        width: 100%;
        border: 10px solid rgb(238, 9, 9);

    }






}