body {}



/* Container base*/
.container-fluid {
  padding: 0%;




  /* border: 5px solid #000000; */
  /* text-align: center; */


}

/* Base */
#title {
  /* border: 5px solid #000000; */

  margin-top: 30px;
  margin-bottom: 50px;
}

/* Navbar */
.navbar {
  background-color: #1a1169;
  width: 100%;
  color: #d0ff00;
  padding-right: 10px;
  /* border: 5px solid #fd0000; */

}


.navbar-toggler {

  background-color: #d0ff00;
  color: #d0ff00;
  /* border: 2px solid #000000; */

}

.navbar a {
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #d0ff00;
}

button {
  color: #d0ff00;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-dropdown {

  justify-content: space-around;

}




/* dashboard-client-clients */

.dashboard {
  padding: 0;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  height: 100%;
  /* border: 5px solid #000000; */


}

.dashboard-box {

  text-align: center;
  display: flex;
  justify-content: space-around;
  /* border: 10px solid rgb(112, 4, 4); */
  padding: 20px;
  height: 100%;



}

.dashboard-box a {
  /* border: 10px solid rgb(181, 194, 3); */
  width: 45%;
  height: 100%;
  font-size: 100%;
  height: 100px;


}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  /* display:inline-block; */
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  text-align: center;
}

.myButton:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
  color: #d0ff00;
  font-weight: bold;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton i {
  color: rgb(7, 0, 94);
  ;
  font-size: 40px;
}

/* dashboard-client-clients */

.dashboard-client {
  padding: 0;
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  /* border: 10px solid rgb(2, 2, 2); */
}

.dashboard-client h4 {
  font-size: 100%;
}

.dashboard-client span {
  font-size: 100%;
  display: flex;
  justify-content: center;

  width: 100%;

  /* border: 10px solid rgb(0, 0, 0); */
}

.dashboard-client-box {
  float: left;
  background-color: #DFDFDF;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100px;
  width: 32%;
  text-align: center;
  padding: 10px;
  align-items: center;
  border-radius: 10px;

  /* border: 10px solid rgb(247, 0, 0); */

}

.dashboard-client-box span {
  font-size: 20px;

  /* border: 10px solid rgb(247, 0, 0); */

}

.dashboard-client-box:nth-child(2) {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#dashboard-client-lastdays {
  background-color: #3476e2;
}

#dashboard-client-done {
  background-color: #13c43f;
}

#dashboard-client-doing {
  background-color: #db1e47;
}

/* Search */

.search-div {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;

  /* border: 10px solid rgb(0, 0, 0); */
}

#search-form {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: center;


  /* border: 10px solid rgb(189, 22, 189); */
}

#search-form input {
  width: 80%;
 text-align: center;
  /* border: 10px solid rgb(189, 22, 189); */
}

#search-btn {
  width: 50px;
  font-size: 20px;
  position: absolute;


  /* border: 10px solid rgb(22, 21, 22); */
}

.fas.fa-search {

  cursor: pointer;

}


/* Botão de adicionar */
#add-link {
  width: 30%;
  text-decoration: none;
  align-items: center;

  /* border: 10px solid black; */

}



.add-div {
  background-color: #3476e2;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 100%;
  align-items: center;
  justify-content: center;



  /* border: 10px solid black; */

}

.fas.fa-plus {
  color: #FFF;
  font-size: 100%;
  text-align: center;

  /* border: 10px solid black; */
}


/* filter */
.filter-div {
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  /* border: 10px solid black; */
}

#filter {
  display: inline-block;
  width: 70%;
  margin-left: 10px;
  margin-left: 0;
  /* border: 10px solid black; */
}

#div-filter-span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 10px solid black; */

}

/* Lista de clientes */

.list-div {
  padding: 0;
}

.client-list {
  padding-left: 0;
}

.client-item {
  list-style: none;
  font-size: 20px;
  height: 50px;
  padding: 0 15px;
  padding-top: 10px;
  border-bottom: 1px dashed #CCC;


}

.client-name {
  margin-left: 25px;
}

.client-item.done {
  background-color: #CCC;
}

.client-item a {
  text-decoration: none;
}

.fas.fa-trash {
  color: #db1e47;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  float: right;
}

.fas.fa-edit {
  color: #13c43f;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  float: right;
}






/* Footer */

footer.fixar-rodape {
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 30px;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #1a1169;
  color: #d0ff00;
  font-size: 15px;

}


/* Responsivo*/

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,

  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .filter-div {

    display: flex;
    flex-direction: column;

    /* border: 10px solid black; */
  }

  #add-link {
    width: 100%;
    align-items: center;
  }

  #div-filter-span {
    width: 100%;
    margin-top: 20px;

    /* border: 10px solid black; */

  }

}