@import url(../css/base.css);
@import url(../css/Navbar.css);
@import url(../css/DashboardHome.css);
@import url(../css/DashboardClients.css);
@import url(../css/perfilCompany.css);
@import url(../css/ViewClient.css);

@import url(../css/NewClient.css);
@import url(../css/Perfil.css);
@import url(../css/passwordReset.css);
/* Footer */

.fixar-rodape {
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 30px;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color:  #1a1169;
  color: #ffe600;
  font-size: 15px;
  margin-top: 10px;

}


/* Responsivo*/

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  
  

  .dashboard-client h4 {
    font-size: 10px
  }

  .filter-div {

    display: flex;
    flex-direction: column;

    /* border: 10px solid black; */
  }

  #add-link {
    width: 100%;
    align-items: center;
  }

  #div-filter-span {
    width: 100%;
    margin-top: 20px;

    /* border: 10px solid black; */

  }

  #search-form input {
    font-size: small;
    text-align: left;

    /* border: 10px solid rgb(189, 22, 189); */
  }

  .client-list span {

    font-size: small;
    /* border: 10px solid rgb(189, 22, 189); */

  }

  .dashboard-client-box {

    width: 100px;
    height: 80px;
  }

  .search-div {
  
    margin-top: 10px;
    
    
  
    /* border: 10px solid rgb(0, 0, 0); */
  }

  .div-base-2-item {
    
    background-size: 100%;
    
    /* border: 5px solid #000000; */
  
  }

  .dashboard-box a {
    width: 45%;
  }

  .client-list {
    
    width: 100%;
    
  
    /* border: 10px solid rgb(22, 21, 22); */
  
  }

}