/* dashboard-client-clients */

.dashboard-client {
  padding: 0;
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  justify-content: space-around;
  /* border: 10px solid rgb(2, 2, 2); */
}

.dashboard-client h4 {
  font-size: 20px
}

.dashboard-client span {
  font-size: 100%;
  display: flex;
  justify-content: center;

  width: 100%;

  /* border: 10px solid rgb(0, 0, 0); */
}

.dashboard-client-box {
  float: left;
  background-color: #DFDFDF;
  color: #FFF;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  box-sizing: border-box;
  height: 100px;
  width: 250px;
  text-align: center;

  align-items: center;
  border-radius: 10px;


  /* border: 10px solid rgb(247, 0, 0); */

}

.dashboard-client-box span {
  font-size: 20px;

  /* border: 10px solid rgb(247, 0, 0); */

}

.dashboard-client-box:nth-child(2) {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#dashboard-client-lastdays {

  background-color: #1c69e6;
}

#dashboard-client-done {
  background-color: #13c43f;
}

#dashboard-client-doing {
  background-color: #db1e47;
}



/* Botão de adicionar */
#add-link {
  width: 30%;
  text-decoration: none;
  align-items: center;

  /* border: 10px solid black; */

}

#add-link a {
  text-decoration: none;

  /* border: 10px solid black;
    color: #d0ff00;
     */
}

.add-div {
  background-color: #3476e2;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 100%;
  align-items: center;
  justify-content: center;

  /* border: 10px solid black; */

}



.fas.fa-plus {
  color: #FFF;
  font-size: 100%;
  text-align: center;

  /* border: 10px solid black; */
}


/* filter */
.filter-div {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  /* border: 10px solid black; */
}

#filter {
  display: inline-block;
  width: 70%;
  margin-left: 10px;
  margin-left: 0;
  /* border: 10px solid black; */
}

#div-filter-span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 10px solid black; */

}

/* Search */

.search-div {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;

  /* border: 10px solid rgb(0, 0, 0); */
}

#search-form {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: right;

  /* border: 10px solid rgb(189, 22, 189); */
}

#search-form input {

  text-align: center;
  /* border: 10px solid rgb(189, 22, 189); */
}

#search-btn {
  width: 50px;
  font-size: 20px;
  display: flex;
  position: absolute;
  float: right;

  /* border: 10px solid rgb(22, 21, 22); */
}

.fas.fa-search {

  cursor: pointer;

}


.messages {
  list-style: none;

}

/* Lista de clientes */

.list-div {
  padding: 0;
  margin-left: 0;

  /* border: 10px solid rgb(22, 21, 22); */

}

.client-list {
  padding-left: 0;
  width: 100%;
  
  text-align: center;

  /* border: 10px solid rgb(22, 21, 22); */

}

.div-base-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
    /* border: 10px solid rgb(22, 21, 22); */

}
.client-name a{
  text-decoration: none;
    /* border: 10px solid rgb(22, 21, 22); */

}

.buttons-actions a{
  text-decoration: none;
    /* border: 10px solid rgb(22, 21, 22); */

}


.fas.fa-trash {
  color: #db1e47;
  cursor: pointer;
  
  
  padding-left: 10px;
}

.fas.fa-edit {
  color: #13c43f;
  cursor: pointer;
  
  
}

/* Paginação */
.pagination {
  margin-bottom: 50px;
}

.step-links {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.step-links .current {
  margin-left: 5px;
  margin-right: 5px;
}